/* Based on view-source:http://getskeleton.com/css/custom.css */
/* restyle existing components */
table, tr, th, td {
    border: none;
}

/* containers */
.container {
  max-width: 800px;
}

/* image container */
.image-container {
  margin: 25px auto;
  text-align: center;
}

/* video container */
.video-container {
  margin: 25px auto;
  text-align: center;
}

/* container for responsive iframe */
.iframe-container {
  position: relative;
  width: var(--video-width);
  margin: 25px auto;
  overflow: hidden;
  padding-top: calc(var(--video-width)*var(--ratio, 0.5625)); /* default to 16:9 aspect ratio */
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

iframe{
    border: 0;
}

/* navigation bar */
/* Based on https://github.com/rotaercz/skeleton-with-nav-menu */
body {
	padding-top: 56px;
}
.nav-hide {
  top: -70px; /* absolute value should be >= body padding top (56px) */
}
.nav-show {
	top: 0;
}
/* main navigation */
nav {
	position: fixed;
	width: 100%;
  height: 6.5rem;
	z-index: 10000;

	background-color: #fff;
	border-bottom: 1px solid #dcdcdc;

	transition: top 0.2s ease-in-out;
}
nav ul {
	margin: 0;
	background-color: #fff;
}
nav ul li {
	display: inline;
	float: left;
	position: relative;
	margin: 0;

	list-style-type: none;
}
nav ul li a {
	display: inline-block;
	padding: 14px 16px;

	color: #757575;
	font-size: 1.7rem;
	text-decoration: none;

	transition: 0.2s;
}
nav ul > li a:not(:only-child):after { content: '\00a0\00a0▼'; font-size: 0.8rem; vertical-align: middle; } /* add caret for drop menu */
/* sub menu */
nav ul ul {
	position: absolute;
	min-width: 180px;

	height: 0px;
	overflow: hidden; /* hide sub menu */
}
nav ul li:hover ul {
	height: auto;
	overflow: visible; /* show sub menu */

	border: 1px solid #dcdcdc;
}
nav ul ul li {
	display: list-item;
	float: none;
}
nav ul ul li a {
	display: block;
}
/* Change background color of links on hover */
/* nav ul li a:hover {
	background-color: #eee;
	color: #757575;
} */
/* Float right the list item that should be right aligned */
nav ul li.right { float: right; }
/* Hide the list item that contains the link that should open and close the topnav on small screens */
nav ul li.icon { display: none; }
.container-center-navigation {
  max-width: 1000px;
	display: table;
	margin: 0 auto;
}
/* When the screen is less than 850 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:850px) {
	nav ul li:not(:first-child) { display: none; }
	nav ul li.icon {
		float: right;
		display: inline-block;
	}
	.container-center-navigation {
	  max-width: 850px;
		display: block;
	}
}
/* The "mobile" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the nav look good on small screens */
@media screen and (max-width:1000px) {
	nav.mobile ul { /* position: relative; */ }
	nav.mobile ul li.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	nav.mobile ul li {
		float: none;
		display: inline;
	}
	nav.mobile ul li a {
		display: block;
		text-align: left;
	}
	nav.mobile ul li ul {
		position: relative;
		height: auto;
		overflow: visible;
		padding-left: 20px;
	}
	nav.mobile ul li:hover ul {
		border: none;
	}
	nav.mobile ul li.right {
		float: none;
	}
}
.navbar-list {
  list-style: none;
  margin-bottom: 0; }
.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0; }
.navbar-link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  text-decoration: none;
  line-height: 3.25rem;
  color: #222; }
.navbar-link.active {
  color: #00468b; }

/* highlight box */
.highlightbox {
  margin-top: 2rem;
  margin-bottom: 25px;
  padding: 1.5rem 2.5rem;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  font-size: 90%;
  font-family: "Courier New", monospace;
}

/* news colors */
.news-generic { /* routine (e.g. personal, robots) */
  color: #424BF4;
}

.news-highlight { /* outstanding news (e.g. projects, workshops) */
  color: #DB4437;
}

.news-publication { /* papers */
  color: #0F9D58;
}

.colored-highlight { /* highlight text */
	color: #FFC400;
  }

.news-generic a,
.news-highlight a,
.news-strong a,
.news-publication a {
  color: inherit;
  text-decoration: underline;
}

.news-generic a:hover,
.news-highlight a:hover,
.news-strong a:hover,
.news-publication a:hover {
  color: #aaa;
}

/* adjust anchor links for fixed header size (sticky nav bar) */
html {
  scroll-padding-top: 7.5rem; /* should be >= nav height (6.5rem) */
}

/* image look */
img {
	border-radius: 10px;
}